<div>
    <nav class="navbar navbar-dark bg-primary justify-content-start">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">Fighting Aggies Platform</a>
            </div>
            <%= link_to "See All", route_instances_path('*','*','*','*'), id: "all_routes", class:"nav-item text-white" %>
            <%= link_to "See Players", players_index_path,  id: "players", class:"nav-item text-white"  %>
            <%= link_to "See Routes by player", route_instances_by_player_path, id: "routes by player", class:"nav-item text-white" %>
            <%= link_to "Log Out", logout_path,  id: "log_out", class:"btn logout-btn" %>
        </div>
    </nav>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <% @data.values.map {|v| v.keys}.flatten.uniq.sort.each do |route| %>
        <th><%= link_to route, route_instances_path(route_name: route, player_id: "*", play_name: "*", practice_id: "*") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data.keys.sort.each do |player| %>
      <tr>
         <td><%= link_to Player.find_by(id: player).name, players_show_path(id: player) %></td>
        <% @data.values.map {|v| v.keys}.flatten.uniq.sort.each do |route| %>
          <td><%= number_to_percentage(100*@data[player][route][0].to_f / @data[player][route][1].to_f,precision:2) if @data[player][route].present? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
