<table>
<%=link_to "Back to dashboard", dashboard_path %>
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Route Name</th>
      <th>Play Name</th>
      <th>Timestamp Start</th>
      <th>Timestamp End</th>
      <th>Success</th>
      <th>Practice ID</th>
    </tr>
  </thead>
  <tbody>
    <% @route_instances.each do |route_instance| %>
      <tr>
        <td style="text-align: center;"><%=link_to Players.find_by(id: route_instance.player_id).name, players_show_path(id:route_instance.player_id) %></td>
        <td style="text-align: center;"><%= route_instance.route_name %></td>
        <td style="text-align: center;"><%= route_instance.play_name %></td>
        <td style="text-align: center;"><%= route_instance.timestamp_start %></td>
        <td style="text-align: center;"><%= route_instance.timestamp_end %></td>
        <td style="text-align: center;"><%= route_instance.success %></td>
        <td style="text-align: center;"><%= route_instance.practice_id %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @route_instances %>
