<%link_to "Reset", route_instances_path(player_id: "*", route_name: "*", play_name:"*", practice_id:"*") %>
<table>
<div>
    <nav class="navbar navbar-dark bg-primary justify-content-start">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">Fighting Aggies Platform</a>
            </div>
            <%= link_to "See All", route_instances_path('*','*','*','*'), id: "all_routes", class:"nav-item text-white" %>
            <%= link_to "See Players", players_index_path,  id: "players", class:"nav-item text-white"  %>
            <%= link_to "See Routes by player", route_instances_by_player_path, id: "routes by player", class:"nav-item text-white" %>
            <%= link_to "Log Out", logout_path,  id: "log_out", class:"btn logout-btn" %>
        </div>
    </nav>
</div>
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Route Name</th>
      <th>Play Name</th>
      <th>Practice ID</th>
      <th>Timestamp Start</th>
      <th>Timestamp End</th>
      <th>Success</th>
    </tr>
  </thead>
  <tbody>
    <% @route_instances.each do |route_instance| %>

      <tr>
        <td><%= link_to Player.find_by(id: route_instance.player_id).name, route_instances_path(player_id: route_instance.player_id, route_name: params[:route_name], play_name: params[:play_name], practice_id: params[:practice_id]) %></td>
        <td><%= link_to route_instance.route_name, route_instances_path(route_name: route_instance.route_name, player_id: params[:player_id], play_name: params[:play_name], practice_id: params[:practice_id]) %></td>
        <td><%= link_to route_instance.play_name, route_instances_path(play_name: route_instance.play_name, route_name: params[:route_name], player_id: params[:player_id], practice_id: params[:practice_id]) %></td>
        <td><%= link_to route_instance.practice_id, route_instances_path(practice_id: route_instance.practice_id, route_name: params[:route_name], player_id: params[:player_id], play_name: params[:play_name]) %></td>
        <td style="text-align: center;"><%= route_instance.timestamp_start %></td>
        <td style="text-align: center;"><%= route_instance.timestamp_end %></td>
        <td style="text-align: center;"><%= route_instance.success %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<p style="margin:0">Success Rate: <%=@percent_success%></p>
