<<<<<<< HEAD
<div
  class="bg-image"
  style="
    background-image: url(https://cdn.eis.tamu.edu/public/images/newbackground7.jpg);
    height: 90vh;
    width: 90vw;
  ">

  <div style="width: 99vw; padding:none;" class="admin-background">
    <div class = "container-fluid" style="padding: none;">
      <div class = "row">
          <h3 class = "col-8">Admin Dashboard</h3>
          <%= link_to "Add User", new_user_path(), id: "add_user", class: "col btn btn-warning" %>
          <%= link_to "Log Out", root_path,  id: "log_out", class: "col btn btn-danger" %>
      </div>
    <div>
    <table class="table admin-table">
      <thead>
        <tr class = "admin-head">
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th> </th>
        </tr>
      </thead>
=======
<div>
    <h3>
        Admin Dashboard 
        <%= link_to "Add User", new_user_path(), id: "add_user" %>
        <%= link_to "Log Out", logout_path,  id: "log_out"  %>
    </h3>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
    </tr>
  </thead>
>>>>>>> origin/main

      <tbody>
        <% @users.each do |user| %>
          <tr style="transform: rotate(0);" class = "admin-row">
            <td scope = "row"><%= user.name %></td>
            <td><%= user.role %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "stretched-link clickable-row" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
