<div>
  <div style="width: 100vw;" class="admin-background">
    <div class = "container-fluid" style="padding: none;">
      <div class = "row">
          <h3 class = "col-8">Admin Dashboard</h3>
          <%= link_to "Add User", new_user_path(), id: "add_user", class: "col btn btn-warning" %>
          <%= link_to "Log Out", root_path,  id: "log_out", class: "col btn btn-danger" %>
      </div>
    <div>
    <table class="table admin-table">
      <thead>
        <tr class = "admin-head">
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th> </th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr style="transform: rotate(0);" class = "admin-row">
            <td scope = "row"><%= user.name %></td>
            <td><%= user.role %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "stretched-link clickable-row" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
