<div id="<%= dom_id practice_video %>">
  <p>
  <strong>Filename:</strong>
  <%= practice_video.filename %>
  </p>

  <p>
  <strong>Video name:</strong>
  <span id='video_name'>
    <%= practice_video.video_name%>
  </span>
  </p>

  <p>
  <strong>Video create date:</strong>
  <%= practice_video.video_create_date %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= practice_video.description %>
  </p>

  <p>
  <strong>Video upload date:</strong>
  <%= practice_video.video_upload_date %>
  </p>

</div>
