<div id="<%= dom_id practice_video %>">
  <p>
  <strong>Filename:</strong>
  <%= practice_video.filename %>
  </p>

  <p>
  <strong>Video name:</strong>
  <span id='video_name'>
    <%= practice_video.video_name%>
  </span>
  </p>
  
  <% if practice_video.clip.attached? %>
     <div style="width:400px">
       <%= video_tag(url_for(practice_video.clip), style: 'width:100%;height:auto', controls: '') %>
     </div>
  <% else %>
    <p> No video found. </p>
  <% end %>

  <p>
  <strong>Video create date:</strong>
  <%= practice_video.video_create_date %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= practice_video.description %>
  </p>

  <p>
  <strong>Video upload date:</strong>
  <%= practice_video.video_upload_date %>
  </p>

</div>
