<table>
<%=link_to "Back to dashboard", dashboard_path %>
  <thead>
    <tr>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">Number</th>
      <th style="text-align: center;">Position</th>
      <th style="text-align: center;">Year</th>
      <th style="text-align: center;">Success Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |p| %>
      <tr>
        <td style="text-align: center;"><%=link_to p.name, route_instances_path(p.id,"*","*","*") %></td>
        <td style="text-align: center;"><%= p.number %></td>
        <td style="text-align: center;"><%= p.position %></td>
        <td style="text-align: center;"><%= p.year %></td>
        <td style="text-align: center;"><%= (p.successes/p.total.to_f*100).round(2) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
