<table>

<div>
    <nav class="navbar navbar-dark bg-primary justify-content-start">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">Fighting Aggies Platform</a>
            </div>
            <%= link_to "See All", route_instances_path('*','*','*','*'), id: "all_routes", class:"nav-item text-white" %>
            <%= link_to "See Players", players_index_path,  id: "players", class:"nav-item text-white"  %>
            <%= link_to "See Routes by player", route_instances_by_player_path, id: "routes by player", class:"nav-item text-white" %>
            <%= link_to "Log Out", logout_path,  id: "log_out", class:"btn logout-btn" %>
        </div>
    </nav>
</div>

  <thead>
    <tr>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">Number</th>
      <th style="text-align: center;">Position</th>
      <th style="text-align: center;">Year</th>
      <th style="text-align: center;">Success Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |p| %>
      <tr>
        <td style="text-align: center;"><%=link_to p.name, route_instances_path(p.id,"*","*","*") %></td>
        <td style="text-align: center;"><%= p.number %></td>
        <td style="text-align: center;"><%= p.position %></td>
        <td style="text-align: center;"><%= p.year %></td>
        <td style="text-align: center;"><%= (p.successes/p.total.to_f*100).round(2) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
