<div>
    <nav class="navbar navbar-dark bg-primary justify-content-start">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=<%=route_instances_by_player_path%>>Fighting Aggies Platform</a>
            </div>
            <%= link_to "See All", route_instances_path('*','*','*','*'), id: "all_routes", class:"nav-item text-white" %>
            <%= link_to "See Players", players_index_path,  id: "players", class:"nav-item text-white"  %>
            <%= link_to "See Routes by player", route_instances_by_player_path, id: "routes by player", class:"nav-item text-white" %>
            <%= link_to "Log Out", logout_path,  id: "log_out", class:"btn logout-btn" %>
        </div>
    </nav>
</div>
<div>
<%= form_tag players_show_path, class: "form-inline", method: :get do %>
  <%= hidden_field_tag :player_id, @player_id %>
  <%= hidden_field_tag :routes, @routes.join(",") %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group row align-items-center">
        <%= label_tag :start_date, "Start Date:", class: "col-md-4 col-form-label" %>
        <div class="col-md-8">
          <%= date_field_tag :start_date, nil, value: @start_date, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group row align-items-center">
        <%= label_tag :end_date, "End Date:", class: "col-md-4 col-form-label" %>
        <div class="col-md-8">
          <%= date_field_tag :end_date, nil, value: @end_date, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Submit", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

</div>
<div class="container">
<div class="row">
  <div class="col-md-8">
    <h1><%= @player.name.split(", ")[1] %> <%= @player.name.split(", ")[0]  %>'s Report Card</h1>
  </div>
  <div class="col-md-4" style="height: 170px; display: flex; align-items: flex-end;">
<h3>Date: <%= @start_date.strftime('%b %e %Y') %> - <%= @end_date.strftime('%b %e %Y') %></h3>

  </div>
</div>

  <table class="table" style="width:100%; margin-top:20px; margin-bottom:20px">
  <tr>
    <td style="font-size: 18px; margin-right: 50px;"><b>Name:</b> <%= @player.name.split(',').reverse.join(' ') %></td>
    <td style="font-size: 18px; margin-right: 50px;"><b>Number:</b> <%= @player.number %></td>
    <td style="font-size: 18px; margin-right: 50px;"><b>Position:</b> <%= @player.position %></td>
    <td style="font-size: 18px; margin-right: 50px;"><b>Year:</b> <%= @player.year %></td>
    <% if defined?(@overall_success_rate) && @overall_success_rate.is_a?(Numeric)%>
      <td style="font-size: 18px; margin-right: 50px;"><b>Overall Success Rate:</b> <%= (100*@overall_success_rate).round(2) %>%</td>
    <% else %>
      <td style="font-size: 18px; margin-right: 50px;"><b>Overall Success Rate: Not Enough Routes Run</b> </td>
    <% end %>
  </tr>
</table>



  <div class="row">
    <div class="col-md-6">
      <canvas id="lineChart" style="height:400px; width:100%"></canvas>
    </div>
    <div class="col-md-6">
      <h3>Success Rates by Route Name</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Route Name (Click to add/remove from graph)</th>
            <th>Success Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @success_by_route.each do |route_name, success_rate| %>
            <tr>
              <td>
              <%if success_rate>0%>
                <%=route_name%>
              <%if @routes.include? route_name%>
                <%= link_to "-", players_show_path(player_id: @player_id, routes: @routes.join(","), route: route_name, start_date: @start_date, end_date: @end_date), title: "Click to remove from graph", style: "text-decoration: none" %>
              <%else%>
                <%= link_to "+", players_show_path(player_id: @player_id, routes: @routes.join(","), route: route_name, start_date: @start_date, end_date: @end_date), title: "Click to add to graph", style: "text-decoration: none" %>
              <%end%>
              <%else%>
                <%=route_name%>
              <%end%>
              </td>
              <td><%= number_to_percentage(success_rate*100, precision: 2)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  var colors = Array.from({length: 12}, (_, i) => `hsl(${i * 30}, 100%, 50%)`);
  // Create chart
  var ctx = document.getElementById('lineChart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [<%@route_practice_ids.each do |id|%>
                <%=id%>,
                <%end%>
      ],
      datasets: [<% @routes.each_with_index do |routeName, index|%>
        {
        label: "<%=routeName%>",
        data: [<%@data_by_route[routeName].each do |data|%>
                <%=data%>,
              <%end%>],
        borderColor: colors[<%=index%> % colors.length],
        backgroundColor: colors[<%=index%> % colors.length],
        fill: false
        },
        <%end%>
      ]
      },
    options: {
  scales: {
    x: {
      display: true,
      title: {
        display: true,
        text: 'Practice ID'
      },
    },
    y: {
      display: true,
      title: {
        display: true,
        text: 'Success Rate'
      }
    }
  }
}
  });
</script>